<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Functional JS First Steps | A FrontendMasters course by Anjana Vakil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link href="/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <h2>
      Functional Art Studio
    </h2>
  </header>
  <main id="app"></main>
  <footer>
    <p>
      <span>Built with</span>
      <img src="/javascript.svg" alt="JS" />
      <span>+</span>
      <a href="https://vitejs.dev" target="_blank">
        <img src="/vite.svg" alt="Vite" />
      </a>
      <span>+ 💖 at</span>
      <a href="https://frontendmasters.com">
        <img src="/frontendmasters.svg" alt="Frontend Masters" />
      </a>
    </p>
  </footer>
  <script type="module" src="/main.js"></script>
</body>

</html>