---
const { url } = Astro.props;
---

<a
  class="inline text-baseline gap-2 no-underline text-6"
  href={url}
  target="_blank"
  title="Open slides"
>
  <span class="inline-block i-ph-presentation-chart-bold"></span>
</a>
